{% extends 'store/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Amadon Store
        {% endblock title %}
</title>


{% block content %}

<div class="container">
                <div class="card-panel teal lighten-3">               
                        <div class="flex-container">
                            <span class="h4 mb-3 font-weight-normal">Here's a detail list of your order:</span>  
                        </div>
                        <div class="flex-container">
                            <span class="h5 mb-3 font-weight-normal"></span><p></p> 
                            <span class="h5 mb-3 font-weight-normal"></span><p></p>
                            <span class="h5 mb-3 font-weight-normal"></span><p></p>  
                            
                        </div>
                        <p></p>
                        <a href="{% url 'checkout' %}"><span class="h6 mb-3 font-weight-normal"><b>Check out</b></span></a> 


                </div>
</div>




{% endblock %}